/* VARIABLES*/
$font2: "Oxygen";
/* VARIABLES*/
#sec-one {
  padding-left: 15px;
  padding-right: 15px;
  .containt-svg {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .title-sec-one {
    text-align: left;
    font-size: 50px;
    font-family: $font2 !important;
    margin-top: 0px;
  }
  .subtitle-sec-one {
    text-align: left;
    font-weight: bold;
    font-size: 55px;
    font-family: $font2 !important;
    margin-top: 0px;
  }
  .text-sec-one {
    text-align: left;
    font-family: $font2 !important;
    margin-top: 20px;
    font-size: 16px;
  }
  .div-sec-one-media {
    background: #42e2b8;
    border: 2px solid #000;
    border-radius: 5px;
    margin-right: 10px;
    width: 20%;
    height: 40px;
    ion-icon {
      font-size: 25px;
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}
#sec-two {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 60px;
  .text-sec-two {
    text-align: center;
    font-size: 22px;
    color: #000;
    font-family: $font2;
  }
  .heading-sec-two {
    text-align: center;
    font-weight: bold;
    font-family: $font2;
    margin-top: 30px;
  }
  .icon-sec-two {
    display: flex;
    justify-content: center;
    ion-icon {
      font-size: 90px;
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }
  .containt-svg {
    display: flex;
    justify-content: center;
    img {
      width: 90%;
      border-radius: 10px;
      margin-bottom: 30px;
    }  
  }
  .box-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 8px;

    position: static;
    width: 258px;
    height: 47px;
    left: 16px;
    top: 40px;

    /* black */

    background: #0f0a0a;
    box-shadow: -4px 4px 0px #ffffff;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    h3 {
      color: #42e2b8;
      font-weight: bold;
      font-family: $font2;
      margin-top: 4px;
    }
  }
  .heading-one {
    font-family: $font2;
    text-align: left;
    color: #000;
    margin-top: 10px;
  }
  .containt-btn {
    display: flex;
    justify-content: center;
    .btn-github {
      --background: none;
      --border-color: #000;
      --border-style: solid;
      --background-activated: none;
      width: 90%;
      height: 50px;
      ion-icon {
        color: #000;
      }
      span {
        color: #000;
        font-family: $font2;
      }
    }
    .btn-see {
      --background: #42e2b8;
      --background-activated: #42e2b8;
      --border-color: #000;
      --border-style: solid;
      width: 90%;
      height: 50px;
      span {
        color: #000;
        font-family: $font2;
      }
    }
  }
  .comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;

    position: static;
    width: 328px;
    height: 329px;
    left: 16px;
    top: 40px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(39.7657px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    .containt-img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50px;
      }
    }
    .heading-three {
      color: #000;
      font-size: $font2;
    }
    .heading-four {
      color: grey;
      font-weight: 300;
      font-family: $font2;
    }
  }
}
#sec-three {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 60px;
  .containt-svg {
    display: flex;
    justify-content: center;
    img {
      width: 90%;
      border-radius: 10px;
      margin-bottom: 30px;
    }
  }
  .box-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 8px;

    position: static;
    width: 258px;
    height: 47px;
    left: 16px;
    top: 40px;

    /* black */

    background: #0f0a0a;
    box-shadow: -4px 4px 0px #ffffff;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    h3 {
      color: #42e2b8;
      font-weight: bold;
      font-family: $font2;
      margin-top: 4px;
    }
  }
  .heading-one {
    font-family: $font2;
    text-align: left;
    color: #000;
    margin-top: 10px;
  }
  .containt-btn {
    display: flex;
    justify-content: center;
    .btn-github {
      --background: none;
      --border-color: #000;
      --border-style: solid;
      --background-activated: none;
      width: 90%;
      height: 50px;
      ion-icon {
        color: #000;
      }
      span {
        color: #000;
        font-family: $font2;
      }
    }
    .btn-see {
      --background: #42e2b8;
      --background-activated: #42e2b8;
      --border-color: #000;
      --border-style: solid;
      width: 90%;
      height: 50px;
      span {
        color: #000;
        font-family: $font2;
      }
    }
  }
  .comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;

    position: static;
    width: 328px;
    height: 329px;
    left: 16px;
    top: 40px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(39.7657px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    .containt-img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50px;
      }
    }
    .heading-three {
      color: #000;
      font-size: $font2;
    }
    .heading-four {
      color: grey;
      font-weight: 300;
      font-family: $font2;
    }
  }
}
