<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col size="4">
        <h1 class="title-header">LOGO</h1>
      </ion-col>
      <ion-col size="8">
        <ion-button shape="round" class="btn-header" mode="ios"><span>Curriculum</span></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>