/* VARIABLES*/
$font2: "Oxygen";
/* VARIABLES*/
ion-toolbar{
    --background: linear-gradient(to right,#FAD7A1,#f19272);
}
.title-header {
  font-weight: 900;
  padding-left: 30px;
  margin-top: 15px;
}
.btn-header {
  --background: #42e2b8;
  --background-activated: #42e2b8;
  --border-color: #000;
  --border-style: solid;
  float: right;
  width: 80%;
  height: 50px;
  span {
    color: #000;
    font-weight: bold;
    font-size: 21px;
    font-family: $font2;
    position: relative;
    top: -2px;
    left: 0;
    right: 0;
  }
}
