<footer>
  <div class="box-one">
    <h3>Hablemos</h3>
  </div>
  <p class="title-footer">
    Si está interesado en trabajar conmigo en su próximo proyecto, no dude en
    ponerse en contacto conmigo.
  </p>
  <div class="input">
    <ion-label position="stacked">Nombre Completo</ion-label>
    <ion-input></ion-input>
  </div>
  <div class="input">
    <ion-label position="stacked">Correo Eléctronico</ion-label>
    <ion-input></ion-input>
  </div>
  <div class="input">
    <ion-label position="stacked">Mensaje</ion-label>
    <ion-textarea rows="6" cols="20"> </ion-textarea>
  </div>
  <div class="containt-btn">
    <ion-button shape="round" class="btn-footer"
      ><span>Enviar Mensaje</span></ion-button
    >
  </div>
  <ion-row>
    <ion-col size="12">
      <div class="containt">
        <div class="div-sec-one-media">
          <ion-icon name="call"></ion-icon>
        </div>
        <div class="div-sec-one-media">
          <ion-icon name="mail"></ion-icon>
        </div>
        <div class="div-sec-one-media">
          <ion-icon name="logo-instagram"></ion-icon>
        </div>
        <div class="div-sec-one-media">
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
      </div>
      <p class="subtitle-footer">
        Made with <span class="love">LOVE</span> Elisa
        <br />
       <span>Copyright 2021 - Todos los derechos reservados.</span> 
      </p>
    </ion-col>
  </ion-row>
</footer>
